:root {
    --white: #ffffff;
    --light-blue: #b5ddff;
    --black: #111111;
    --blue: #0084fd;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --dark-greay: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;

}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.flex {
    display: flex;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justy-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.testo-blue {
    color: var(--blue);
}

.btn {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;

}

/* HEADER */

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
}

header a {
    color: var(--white);
    text-decoration: none;
}

.menu {
    display: none;
}

header li {
    list-style-type: none;
}

/* MAIN */

#planning,
#features,
#get-started {
    background-color: var(--purple);
}

.padding-lr-rem {
    padding: 0 2rem;
}

.mrg-top-section {
    margin-top: 40px;
}

.mrg-top-card {
    margin-top: 30px;
}

.card {
    background-color: var(--light-blue);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 10px;
}

main img {
    width: 100%;

}

#intro i {
    color: var(--blue);
    padding-bottom: 20px;
    font-size: 50px;
}

#intro p{
    padding-bottom: 20px;
}

/* FOOTER*/

footer {
    background-color: var(--dark-greay);
}

/* RESPONSIVE */
@media screen and (min-width:768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
}

/* container per 992 intorno ai 950 */