:root {
    --white: #ffffff;
    --light-blue: #b5ddff;
    --black: #111111;
    --blue: #0084fd;
    --purple: #9792e4;
    --yellow: #fdc15f;
    --dark-greay: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
    min-height: 50px;
}

body {
    background-color: var(--white);
    font-family: 'PT Sans', sans-serif;

}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.flex {
    display: flex;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justy-between {
    justify-content: space-between;
}
.justy-center{
    justify-content: center;
}

.align-center {
    align-items: center;
}
.text-center{
    text-align: center;
}
.testo-blue {
    color: var(--blue);
}

.testo-bianco {
    color: var(--white);
}
.testo-viola{
    color: var(--purple);
    
}
.testo-giallo{
    color: var(--yellow);
}
.btn {
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
    
}

/* HEADER */

header {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 2rem;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header a {
    color: var(--white);
    text-decoration: none;
}

.menu {
    display: none;
}

header li {
    list-style-type: none;
}

/* MAIN */

#planning,
#features,
#get-started {
    background-color: var(--purple);
}

.padding-lr-rem {
    padding: 0 2rem;
}

.mrg-top-section {
    margin-top: 40px;
}

.mrg-top {
    margin-top: 30px;
}

.card {
    background-color: var(--light-blue);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-radius: 10px;
}

#intro img {
    width: 100%;

}
#intro i {
    color: var(--blue);
    padding-bottom: 20px;
    font-size: 50px;
}

#intro p {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
/* sezione 2 */
#planning {
    padding-bottom: 5em;
}
#planning img {
    width: 100%;
    margin-top: 80px;
}

#planning p {
    color: var(--white);
    padding-top: 30px;
}

#planning h1 {
    color: var(--white);
    padding-top: 2rem;
    font-size: 50px;
}

.card-long {
    margin-top: 30px;
    border-radius: 80px;
    background-color: var(--white);

}
#paragrafo {
    padding-bottom: 1em;
}

#paragrafo p {
    color: var(--black);
    text-align: center;
    line-height: 2em;
}

#paragrafo h1 {
    color: var(--black);
    text-align: center;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    
}

/* Sezione 3*/

#testimonials {
    padding: 2em;
}

#testimonials h2 {
    color: var(--purple);
    font-size: 2em;
    margin-top: 0.4em;
    margin-bottom: 0.75em;
}

#testimonials p {
    line-height: 2em;
    margin-bottom: 2em;
}

#testimonials .persona {
    background-color: var(--purple);
    color: var(--white);
    padding: 3em 1.5em;
    border-radius: 1.5em;
    margin-bottom: 4em;

}

.text {
    font-size: 1.8rem;
    margin-top: 1.5em;
    margin: 0 auto;
}

#testimonials .persona .img-persona {

    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;

}

#img-persona-1 {
    background-image: url(../img/testimonial1.jpg);
}

#img-persona-2 {
    background-image: url(../img/testimonial2.jpg);
}

#img-persona-3 {
    background-image: url(../img/testimonial3.jpg);
}

#testimonials .persona .img-persona {

    margin: auto;
}

.text p {
    margin: 1.5em 1.5em;

}

.persona p {
    margin: 1.5em 0;
}

/* sezione 4 */

#features .container{
    padding: 2em 0;
}
#features .container h2{
    color:var(--white);
    font-size:4em;
    margin-bottom: 1.5em;
    margin-top:1.5em;
}
#features .carta{
    background-color: var(--white);
    color: var(--purple);
    padding: 1.5em;
    border-radius: 1.5em;
    margin-bottom: 2em;
}
#features .carta h2{
    font-size: 2.5em;
    color:var(--purple);
    text-align: left;
    margin-top:0.5em;
}
#features .carta h3{
    font-size: 1.5em;
    margin-bottom:0.5em;
}
#features .carta p {
    color:var(--black);
    margin-bottom:0.5em;
}
#features .carta .btn-purple{
    background-color: var(--purple);
    text-align: center;
    width: 50%;
    border-radius: 20px;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top:0.5em;
}
#features .carta a {
    text-decoration: none;
    color:var(--white);
}

/* section 5 */
#about-us .container{
    padding:2em 0em;
    
}
#about-us h2{
    font-size: 2em;
    margin-bottom:2em;

}
#about-us .container p{
    margin-bottom:1em;
    line-height: 2em;

}
#about-us .container .foto .icona-tonda{
    background-image: url(../img/about.jpg);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom:2em;
    margin-top: 2em;
}
#about-us .container .foto .icona-tonda span{
    color:var(--purple);
    position:absolute;
    font-size:3em;
    right:0;
}
#about-us .container .foto h3{
    color:var(--purple);
    font-size: 3em;
    margin-bottom: 1em;
}

#about-us .container .foto .btn-purple{
    background-color: var(--purple);
    text-align: center;
    width: 35%;
    border-radius: 20px;
    font-size: 1.1em;
    padding:0.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
#about-us .container .foto .btn-purple a {
    color:white;
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
    background-color: var(--darkgray);
    padding:1em 0;

}
footer p {
    margin:1em 0;
}
footer {
    background-color: var(--dark-greay);
}

/* RESPONSIVE */
@media screen and (min-width:768px) {
    .container {
        max-width: 750px;
    }

    #intro .cards {
        display: flex;
        flex-flow: row wrap;
        margin-left: -0.75rem;
        margin-right: -0.75rem;
    }

    #intro .card {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        width: calc(33.33% - 1.5rem);
    }

    #intro .card:first-child {
        width: calc(66.66% - 1.5rem);
    }
}

/* container per 992 intorno ai 950 */
@media screen and (min-width:992px) {}

/* container per 1200 intorno ai 1150 */
@media screen and (min-width:1200px) {}